/* header styles */

#header{
	background: $green;
	overflow: hidden;
	border-top: 3px solid $dk-green;
	padding: 23px 0 25px;

	@include mq($until: sm-mobile) {
		text-align: center;
		padding: 10px 0;
		.col-xs-6{
			width: 100%;
		}
	}

	.link{
		background: url(../../images/ico-arrow.png) no-repeat 100% 50%;
		padding: 1px 22px 0 0;
		float: right;
		color: $white;
		font-size: 15px;
		margin: 0 23px 0 0;
		max-width: 200px;

		@include mq($until: sm-mobile) {
			float: none;
			display: inline;
			margin: 0;
		}

		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}

}

/* page logo styles */

.logo{
	float: left;
	width: 170px;
	margin: 0 0 0 15px;
		
	@include mq($until: sm-mobile) {
		float: none;
		display: block;
		margin: 0 auto 10px;
	}

	img{
		@include img-responsive;
	}
}