<div class="container main-container text-center" data-ng-controller="analyzerController">
    <i class="icon-house hero"></i>
    <div class="row-fluid">
        <div class="span4 text-center">
          <div class="analyze">
            <div class="table analyze-input-group">
                <form novalidate name="analyze" data-ng-submit="send();">
                    <input
                      type="url"
                      class="col-md-11 analyze-input input-block-level text-center invis-valid"
                      placeholder="Type your url here"
                      data-ng-maxlength="200"
                      data-ng-autofocus
                      data-ng-model="analysis.data.url_analyzed"
                      data-ng-required="true"
                      name="url"
                  />
                  <span class="pull-left">
                    <button type="submit" class="btn analyze-button btn btn-primary" data-ng-disabled="analyze.$invalid || analyze.$pristine"><bold>Go</bold></button>
                  </span>
                </form>
            </div>
          </div>
        </div>
        <p data-ng-show="analysis.data.analysis_id" class="pull-left">You can check your analysis results later through this URL:
          <a href="http://127.0.0.1:8080/analysis/status/{[{analysis.data.analysis_id}]}">http://127.0.0.1:8080/analysis/status/{[{analysis.data.analysis_id}]}</a>
        </p>

        <div class="span4 text-center">
        <div class="load-navbar pull-left ">
            <a class="menu-item pull-left">Web, Mobile<br></a>
        </div>
            <div class="analyzer clear-both">
                <div data-ng-switch="analysis.data.state">

                    <!-- When the state is done -->
                    <div data-ng-switch-when="done">
                        <div class="analyzer-http http2-push">
                            <div class="statistics text-center clear-both">
                                <div class="statistics-resume http2-push-resume text-center clear-both">
                                    <div class="statistics-version col-md-3"><span pull-left>HTTP/2.0 + Push</span></div>
                                    <div class="progress statistics-bar col-md-5">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        </div>
                                    </div>
                                    <div class="statistics-time col-md-offset-1 col-md-3"><span>1.2 s</span></div>
                                </div>
                                <div class="statistics-resume http2-resume text-center clear-both">
                                    <div class="statistics-version col-md-3"><span pull-left>HTTP/2.0</span></div>
                                    <div class="progress statistics-bar col-md-5">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                        </div>
                                    </div>
                                    <div class="statistics-time col-md-offset-1 col-md-3"><span>3.6 s</span></div>
                                </div>
                                <div class="statistics-resume http1-resume text-center clear-both">
                                    <div class="statistics-version col-md-3"><span pull-left>HTTP/1.1</span></div>
                                    <div class="progress statistics-bar col-md-5">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        </div>
                                    </div>
                                    <div class="statistics-time col-md-offset-1 col-md-3"><span>6.0 s</span></div>
                                </div>
                            </div>
                        </div>
                        <span class="analyzer-http-version pull-left clear-both" >HTTP/2.0 + Push</span><br><br>
                        <div class="line-analyzer pull-left"></div>
                        <div class="analyzer-http http2">
                            <div class="load-description pull-left"> << load description>> </div>
                        </div>
                        <span class="analyzer-http-version pull-left clear-both">HTTP/2.0</span><br><br>
                        <div class="line-analyzer pull-left"></div>
                        <div class="analyzer-http http1">
                            <div class="load-description pull-left"> << load description>> </div>
                        </div>
                        <span class="analyzer-http-version pull-left clear-both">HTTP/1.1</span><br><br>
                        <div class="line-analyzer pull-left"></div>
                        <div class="analyzer-http share">
                            <div class="load-description pull-left"> << load description>> </div><br><br>
                            <div class="pull-left">
                                <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">*Disclaimers:...</a>
                            </div>
                            <div class="pull-right">
                                <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">Share these results: http://http2.loadimpact.com/afb42</a>
                            </div>
                        </div>
                    </div>

                     <!-- When the state is sent -->
                    <div data-ng-switch-when="sent">
                        <div class="analyzer-http http2-push">
                            <div class="statistics-resume http2-push-resume text-center clear-both">
                                <div class="statistics-version col-md-3"><span pull-left>Analysis sent</span></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                  aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width:1%">
                                    1%
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                     <!-- When the state is processing -->
                    <div data-ng-switch-when="processing">
                        <div class="analyzer-http http2-push">
                            <div class="statistics-resume http2-push-resume text-center clear-both">
                                <div class="statistics-version col-md-3"><span pull-left>Analysis in progress</span></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                  aria-valuenow="{[{ analysis.data.progress }]}" aria-valuemin="0" aria-valuemax="100" style="width:{[{ analysis.data.progress }]}%">
                                    {[{ analysis.data.progress }]}%
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- When the state is undefined, there is not a sate yet -->
                    <div data-ng-switch-default>
                        <p>Text explaining what the user will see as results...</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>