<div class="container main-container text-center" data-ng-controller="analyzerController">
    <i class="icon-house hero"></i>
    <div class="row-fluid">
        <div class="span4 text-center">
          <div class="col-lg-11 analyze">
            <div class="input-group">
                <form novalidate name="analize" data-ng-submit="send();">
                    <input
                      type="url"
                      class="form-control analyze-input input-block-level text-center large invis-valid"
                      placeholder="Type your url here"
                      data-ng-maxlength="200"
                      data-ng-autofocus
                      data-ng-model="analyzer.url"
                      data-ng-required="true"
                      name="url"
                  />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default analyze-button btn btn-primary" data-ng-disabled="analize.$invalid || analize.$pristine"><bold>Go</bold></button>
                  </span>
                </form>

            </div>
          </div>
        </div>
        <div class="span4 text-center">
        <div class="load-navbar pull-left " ng-controller="NavController">
            <a class="menu-item pull-left">Web, Mobile<br></a>
        </div>



            <div class="analyzer clear-both">
                <div class="analyzer-http http2-push">
                    <div class="statistics text-center clear-both">
                        <div class="statistics-resume http2-push-resume text-center clear-both">
                            <div class="statistics-version col-md-3"><span pull-left>HTTP/2.0 + Push</span></div>
                            <div class="progress statistics-bar col-md-5">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                </div>
                            </div>
                            <div class="statistics-time col-md-offset-1 col-md-3"><span>1.2 s</span></div>
                        </div>
                        <div class="statistics-resume http2-resume text-center clear-both">
                            <div class="statistics-version col-md-3"><span pull-left>HTTP/2.0</span></div>
                            <div class="progress statistics-bar col-md-5">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                </div>
                            </div>
                            <div class="statistics-time col-md-offset-1 col-md-3"><span>3.6 s</span></div>
                        </div>
                        <div class="statistics-resume http1-resume text-center clear-both">
                            <div class="statistics-version col-md-3"><span pull-left>HTTP/1.1</span></div>
                            <div class="progress statistics-bar col-md-5">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                </div>
                            </div>
                            <div class="statistics-time col-md-offset-1 col-md-3"><span>6.0 s</span></div>
                        </div>
                    </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both" >HTTP/2.0 + Push</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http http2">
                    <div class="load-description pull-left"> << load description>> </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both">HTTP/2.0</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http http1">
                    <div class="load-description pull-left"> << load description>> </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both">HTTP/1.1</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http share">
                    <div class="load-description pull-left"> << load description>> </div><br><br>
                    <div class="pull-left">
                        <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">*Disclaimers:...</a>
                    </div>
                    <div class="pull-right">
                        <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">Share these results: http://http2.loadimpact.com/afb42</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
