<div class="container main-container text-center" data-ng-controller="analyzerController">
    <i class="icon-house hero"></i>
    <h2 class="text-center">Index page</h2>
    <p data-translate>You can paste your site url here below.</p>

    <div class="row-fluid">

        <div class="span4 text-center">
            <h1 class="text-center" data-translate>Analyze your site</h1>
            <form novalidate name="analize" data-ng-submit="send();">
                <input
                    data-ng-maxlength="200"
                    class="input-block-level text-center large invis-valid"
                    data-ng-autofocus
                    type="text"
                    data-ng-model="analyzer.url"
                    data-ng-required="true"
                    name="url"
                />
                <button type="submit" class="custom-btn primary no-margin" data-ng-disabled="analize.$invalid || analize.$pristine">Go</button>
            </form>

        </div>

        <div class="span4 text-center">
            <div class="load-navbar pull-left " ng-controller="NavController">
                <a class="menu-item pull-left" ng-click="doSomething()">Web, Desktop<br><span>Same continent</span></a>
                <a class="menu-item pull-left" ng-click="doSomething()">Web, Desktop<br><span>Trasatlantic link</span></a>
                <a class="menu-item pull-left" ng-click="doSomething()">Web, Mobile<br><span></span></a>

            </div>
            <div class="analyzer clear-both">
                <div class="analyzer-http http2-push">
                    <div class="statistics text-center clear-both">
                        <div class="statistics-resume http2-push-resume text-center clear-both">
                            <div class="statistics-version pull-left"><span pull-left>HTTP/2.0 + Push</span></div>
                            <div class="statistics-bar pull-left"></div>
                            <div class="statistics-time pull-left"><span>1.2 s</span></div>
                        </div>
                         <div class="statistics-resume http2-resume text-center clear-both">
                            <div class="statistics-version pull-left"><span pull-left>HTTP/2.0</span></div>
                            <div class="statistics-bar pull-left"></div>
                            <div class="statistics-time pull-left"><span>3.6 s</span></div>
                        </div>
                         <div class="statistics-resume http1-resume text-center clear-both">
                            <div class="statistics-version pull-left"><span pull-left>HTTP/1.1</span></div>
                             <div class="statistics-bar pull-left"></div>
                            <div class="statistics-time pull-left"><span>6.0 s</span></div>
                        </div>
                    </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both" >HTTP/2.0 + Push</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http http2">
                    <div class="load-description pull-left"> << load description>> </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both">HTTP/2.0</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http http1">
                    <div class="load-description pull-left"> << load description>> </div>
                </div>
                <span class="analyzer-http-version pull-left clear-both">HTTP/1.1</span><br><br>
                <div class="line-analyzer pull-left"></div>
                <div class="analyzer-http share">
                    <div class="load-description pull-left"> << load description>> </div><br><br>
                    <div class="pull-left">
                        <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">*Disclaimers:...</a>
                    </div>
                    <div class="pull-right">
                        <a href="http://http2.loadimpact.com/afb42" target="_blank" class="nav-btn ng-cloak">Share these results: http://http2.loadimpact.com/afb42</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>