<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="holder">
                <header class="head">
                    <h1><strong>HTTP/1</strong> <span>vs</span> <strong>HTTP/2</strong></h1>
                </header>
                <p class="green">Will HTTP/2 make your website, app or API faster? <a href="#">Read more</a></p>

                <div class="block">
                    <div class="col">
                        <div class="wrap">
                            <div class="text">
                                <strong class="time">0.00 sec</strong>
                                <span class="txt">Standing by</span>
                            </div>
                            <div class="circle">
                                <ng-include src="'partials/http2/watch.svg'"></ng-include>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap">
                            <div class="circle">
                                <span class="arrow">&nbsp;</span>
                            </div>
                            <div class="text">
                                <strong class="time">0.00 sec</strong>
                                <span class="txt">Standing by</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>