<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="holder">
                <header class="head">
                    <h1><strong>HTTP/1</strong> <span>vs</span> <strong>HTTP/2</strong></h1>
                </header>
                <p>URL tested: www.stockholm.se/superlong/extralong/</p>

                <div class="block">
                    <div class="col">
                        <div class="wrap">
                            <div class="text">
                                <strong class="time">14.54 sec</strong>
                                <span class="txt">Collecting</span>
                            </div>
                            <div class="circle">
                                <span class="arrow">&nbsp;</span>
                                <span class="bar">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <strong>28%</strong> more efficient*
                    </div>
                    <div class="col">
                        <div class="wrap">
                            <div class="circle add">
                                <span class="arrow">&nbsp;</span>
                                <span class="medal">&nbsp;</span>
                            </div>
                            <div class="text">
                                <strong class="time">9.32 sec</strong>
                                <span class="txt">Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-networks">
                <h2 class="title">Share your result</h2>
                <ul class="list-inline">
                    <li><a href="#"><img data-svg-fallback="/static/images/ico-fb.svg" src="/static/images/ico-fb.svg" alt="img description"></a></li>
                    <li><a href="#"><img data-svg-fallback="/static/images/ico-twitter.svg" src="/static/images/ico-twitter.svg" alt="img description"></a></li>
                    <li><a href="#"><img data-svg-fallback="/static/images/ico-linkedin.svg" src="/static/images/ico-linkedin.svg" alt="img description"></a></li>
                    <li><a class="icon" href="#"><img data-svg-fallback="/static/images/icon.png" src="/static/images/icon.png" alt="img description"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
