<div class="container" ng-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="holder">
                <header class="head">
                    <h1><strong>HTTP/1</strong> <span>vs</span> <strong>HTTP/2</strong></h1>
                </header>
                <div ng-hide="analysis.data.url_analyzed" class="text">
                    <div>Loading...</div>
                </div>
                <p class="url-tested" ng-show="analysis.data.url_analyzed">URL tested: {[{ analysis.data.url_analyzed }]}</p>
                <div class="block">
                    <div class="col">
                        <div class="wrap">
                            <div ng-hide="analysis.data.json.max_time" class="text">
                                <div>Loading...</div>
                            </div>
                            <div ng-show="analysis.data.json.max_time" class="text">
                                <strong ng-model="http1_time" class="time">{[{  analysis.data.json.summary.medians.http1.http1.start_time/1000 | number:2 }]} sec</strong>
                                <span class="txt">Done</span>
                            </div>
                            <div class="circle">
                                <ng-include src="'partials/http2/watch.svg'"></ng-include>
                            </div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <div ng-hide="analysis.data.json.effectiveness" class="text">
                            <div>Loading...</div>
                        </div>
                        <div ng-show="analysis.data.json.effectiveness"><strong>{[{  analysis.data.json.summary.medians.http2.http2.starts/1000 | number:2 }]} %</strong> more efficient*</div>
                    </div>
                    <div class="col">
                        <div class="wrap">
                            <div ng-hide="analysis.data.json.max_time" class="text">
                                <div>Loading...</div>
                            </div>
                            <div class="circle add">
                                <ng-include src="'partials/http2/watch2.svg'"></ng-include>
                            </div>
                            <div ng-show="analysis.data.json.max_time" class="text">
                                <strong class="time">{[{  analysis.data.json.summary.medians.http2.http2.start_time/1000 | number:2  }]} sec</strong>
                                <span class="txt">Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-networks">
                <h2 class="title">Share your result</h2>
                <ul class="list-inline">
                    <li><a title="Share on Facebook..." href="#" social-facebook><img data-svg-fallback="/static/images/ico-fb.svg" src="/static/images/ico-fb.svg" alt="img description"></a></li>
                    <li><a title="Share on Twitter..." href="#" social-twitter><img data-svg-fallback="/static/images/ico-twitter.svg" src="/static/images/ico-twitter.svg" alt="img description"></a></li>
                    <li><a title="Share on LinkedIn..." href="#" social-linkedin><img data-svg-fallback="/static/images/ico-linkedin.svg" src="/static/images/ico-linkedin.svg" alt="img description"></a></li>
                    <li><a ng-mouseover="hoverIn()" class="icon" ng-init="focus=false;blur=false;active=false;url_visible=false" href="#"><img data-svg-fallback="/static/images/icon.png" src="/static/images/icon.png" alt="img description"></a></li>
                </ul>
            </div>
            <input type="text" class="url" id="url" ng-focus="focus=true;blur=false;" ng-blur="noShowText()" ng-init="isFocused=false" data-ng-show="url_visible" value="{[{ base_url }]}/analysis/status/{[{ analysis_id }]}"></input>
        </div>
    </div>
</div>
