
/* ---------------------------------------------------------
   1. General reset
   2. Common site styles
   ---------------------------------------------------------*/


$mq-breakpoints: (
    // Base device classes
    sm-mobile:   480px,
    mobile:      768px,
    tablet:      992px,
    desktop:    1200px,
    widescreen: 1500px,
    tvscreen:   1920px,

    // Tweakpoints
    mobileLandscape: 480px
);

// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap-custom";

@import "utils/markup-mixins";
@import "vendors/mq";

@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";

@import "http2/ui_elements/analyzer.scss";

@import 'components/_custom-forms';











