*.orig
*.map
*.wpr
*.wpu
*.pyc
*.pyo
*.log
*.bat
*.sublime-workspace
.idea
pip-log.txt
build
.pydevproject
.settings*
.project
/http2/static/
/ng-frontend
/http2/static_dev/.idea/encodings.xml
/http2/static_dev/.idea/misc.xml
/http2/static_dev/.idea/modules.xml
/http2/static_dev/.idea/.name
/http2/static_dev/.idea/scopes/scope_settings.xml
/http2/static_dev/.idea/static_dev.iml
/http2/static_dev/.idea/vcs.xml
/http2/static_dev/.idea/workspace.xml
/http2/static_dev/test_files/
/http2/templates/docs/
/http2/static_dev/css/style.css
/http2/static_dev/css/style.map.css
/http2/static_dev/js/general.js
/wingdbstub.py
/http2/static_dev/css/sass/.sass-cache/
/http2/media/
/run/venv_activate
.sass-cache/
/localenv
.*.swp
*~
venv/
/settings/secret_keys/production.txt
/setup/scripts/passwfile.py
/logs
/node_modules
/templates/docs
*db.sqlite3
