// breakpoints
$sm-mobile: 479px;  // mobile 479px and less 
$md-mobile: 647px;  // mobile 647px and less
$mobile: 767px;  // mobile 767px and less 
$min-tablet: 992px;  // min tablet 992px and up 
$tablet: 991px; // tablet 991px and less 
$md-desktop: 1199px; // md-desktop 1199px and less 
$desktop: 1199px; // desktop 1199px and less 
$lg-desktop: 1550px; // lg desktop 1550px and less 
$retina: 1.5;    // standart retina > 1.5x
$retina-hd: 2.5; // hd retina > 2.5x

// breakpoints mixin
@mixin breakpoint($rule){
  @if ($rule == $retina or $rule == $retina-hd){
    @media only screen and ( min-resolution : #{$retina*96} ), ( -webkit-min-device-pixel-ratio : #{$retina} ){
     @content;
    }
  }
  @else{
    @media only screen and (max-width: #{$rule}){
     @content;
    }  
  }
}

/// breakpoints mixin usage
/// selector{
///   height:100px;
///   @include breakpoint($tablet){
///     height:50px;
///   }
/// }


// custom font mixin
@mixin fontface ($fontfamily, $filename) {
  font-family: $fontfamily;
  src: url('../fonts/#{$filename}.eot');
  src: url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
  url('../fonts/#{$filename}.woff2') format('woff2'),
  url('../fonts/#{$filename}.woff') format('woff'),
  url('../fonts/#{$filename}.ttf') format('truetype'),
  url('../fonts/#{$filename}.svg#{$filename}') format('svg');
  font-weight: normal;
  font-style: normal;
}


// clearfix
%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// reset for list
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// hide text
@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// position-0
@mixin position-zero {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
@mixin position($value) {
  top: $value;
  left: $value;
  right: $value;
  bottom: $value;
}

// font-size 
@mixin font-size ($font-size, $line-height: 1.125){
  font-size: $font-size;
  line-height: $line-height;
}

// responsive-img
@mixin responsive-img {
  vertical-align: top;
  @include size(100%, auto);
}

// img-maxwidth
@mixin img-maxwidth {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// alignment 
@mixin alignment($display: inline-block, $align: top) {
  display: $display;
  vertical-align: $align;
}

// box shadow
// sample: @include box-shadow(2px 2px 5px rgba(255,0,0,0.6));
@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

// box sizing
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}

// placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {opacity: 1; @content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
  &.placeholder {@content}
}

@mixin transform ($deg) {
  transform        : $deg;
  -moz-transform    : $deg;
  -ms-transform    : $deg;
  -o-transform      : $deg;
  -webkit-transform : $deg;
}

@mixin rotate ($deg) {
  -moz-transform    : rotate($deg);
  -ms-transform    : rotate($deg);
  -o-transform      : rotate($deg);
  -webkit-transform : rotate($deg);
}

// transition
@mixin transition ($type:all, $time:0.2s, $ease:ease) {
  -moz-transition    : $type $time $ease;
  -webkit-transition  : $type $time $ease;
  -o-transition      : $type $time $ease;
  transition          : $type $time $ease;
}

// full width
%full-width {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px;
}

// retina images
@mixin img-retina($image, $extension, $width, $height) {
  background: url('../../images/' + $image + '.' + $extension) no-repeat;
  width: $width;
  height: $height;


  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {    
    background-image: url('../../images/' + $image + '@2x' + '.' + $extension);
    background-size: $width $height;
  }
}

// from http://codepen.io/MichaelArestad/pen/IxFGj 
@mixin arrow-lazy($al-direction: top, $al-size: 10px, $al-color: #ccc, $al-center: 50%, $al-margin: -1px, $al-pseudo: before){
  position: relative;
  border-color: $al-color;

  &:#{$al-pseudo} {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0;
    border-color: $al-color;

    @if $al-direction == "right" {
      top: $al-center;
      left: 100%;
      margin-left: $al-margin;
      margin-top: $al-size * -1;
      border-top: $al-size solid transparent;
      border-bottom: $al-size solid transparent;
      border-left: $al-size solid $al-color;
      border-left-color: inherit;
    } @else if $al-direction == "down" {
      top: 100%;
      left: $al-center;
      margin-top: $al-margin;
      margin-left: $al-size * -1;
      border-left: $al-size solid transparent;
      border-right: $al-size solid transparent;
      border-top: $al-size solid $al-color;
      border-top-color: inherit;
    } @else if $al-direction == "left" {
      top: $al-center;
      right: 100%;
      margin-right: $al-margin;
      margin-top: $al-size * -1;
      border-top: $al-size solid transparent;
      border-bottom: $al-size solid transparent; 
      border-right:$al-size solid $al-color;
      border-right-color: inherit;
    } @else {
      bottom: 100%;
      left: $al-center;
      margin-bottom: $al-margin;
      margin-left: $al-size * -1;
      border-left: $al-size solid transparent;
      border-right: $al-size solid transparent;
      border-bottom: $al-size solid $al-color;
      border-bottom-color: inherit;
    }
  }
}