{% load static basic_tags %}
{% load url from future %}

<!DOCTYPE html>
<html data-ng-app="http2">
<head>
    <meta charset="utf-8">
    <title data-ng-bind="$root.title ? $root.title + ' - Load Impact' : 'Load Impact'">Load Impact</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#c32220">
    <link rel="shortcut icon" href='{% static "img/favicon.ico?v=1" %}' />
    <base href="/">
    <link href='{% static "build/css/style.css" %}' rel="stylesheet" type="text/css">

</head>

<body data-ng-class="[bodyClass]">
    <div class="navigation">
        <div class="navbar input-block-level no-select row-fluid">
            <div class="container clearfix middle">
                <div class="pull-left">
                    <a data-ui-sref="index" class="nav-btn"><br>
                        <span class="http2"><bold>Load Impact of HTTP/2</bold> </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div data-ui-view="mainView" class="main-view"></div>

    <div id="timechart"></div>

    <div class="footer">Copyright 2014 Load Impact AB. All rights reserved. Terms.</div>

    <div data-growl></div>



    {% if debug_set %}
        {% render_js_files 'js/general.json' %}
    {% else %}
        <script src='{% static "build/js/general.js" %}'></script>
    {% endif %}
    <script>
        /* Added this just for time being  */
        var data = {
            domain:'https :// www.zunzun.se',
            times:[
            {
            path:'/main.css',
            http1: [0,1,6,7,14],
            http2: [0,1,3,5,9]
            },
            {
            path:'/styles.css',
            http1: [3,4,8,9,21],
            http2: [5,4,5,6,15]
            },
            {
            path:'/scripts',
            http1: [2,3,6,7,16],
            http2: [1,3,5,9,17]
            },
            {
            path:'/routings.js',
            http1: [6,1,1,2,4],
            http2: [7,2,1,1,4]
            }
            ]
        };
        d3.select("#timechart").call(d3.timechart(data));
    </script>
</body>

</html>
