.top-content {
  with: 100%;
  //height: 620px;
  background-color: #6bad2c;
}

.analyze {
  .analyze-input-group {
    .analyze-button {
      background-color: $analyzer_border;
      height: 50px;
      display: table-cell;
      border-radius: 0 10px 10px 0;
      -webkit-border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
    }
    .analyze-input {
      height: 50px;
      display: table-cell;
      border-radius: 10px 0 0 10px;
      margin-bottom: 70px;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
    }
  }
}

.url-analyzed {
  font-size: 90%;
  font-style: italic;
}

.load-navbar {
  width: 100%;
  border-radius: 0;
  font-size: 20px;

  .menu-item {
    padding: 10px;
    border: 3px solid $analyzer_border;
    border-bottom: 0;
    list-style: none;

    a:hover {
      padding-bottom: 10px;
      border-bottom: 3px solid #fff;
    }

    span{
      font-size: 12px;
    }

  }
}

.statistics-bar {
  height: 20px;
  border: 1px solid $analyzer_border;
  padding: 0;

  .progress-bar {
    background-color: $analyzer_border;
  }

}

.analyzer {
  border: 3px solid $analyzer_border;
  background: url('../img/timeline.png') repeat-y 250px 25px;
  clear: both;
  padding: 25px 0;

  .analyzer-http {
    width: 100%;
    // padding: 15px 50px 20px 50px;
  }

  .http2-push {
    width: 100%;
    margin: 0 auto;

    .statistics {
      width: 100%;
      clear: both;

      .statistics-resume {
        height: 30px;
        width: 100%;
      }

      span{
        float: left;
      }

      background-color: #d6ddd2;
    }
  }

  .line-analyzer {
    width: 60%;
    margin-left: 2%;
    border: 1px solid black;
  }

  .analyzer-http-version {
    padding-left: 5%;
  }

  .load-description {
    margin-left: 10%;
  }

}


.h-ruler {
  display: flex;
}

.time-point {
  font-size: 7px;
  flex-grow: 1;
  text-align: left;
  flex-basis: 0;

  //&:not(:first-child){
  //  margin-left: -10px;
  //}
}

// TODO: Choose the proper color
.horiz-block {
  &:nth-child(2n+0) {
    background-color: #f8eef1;
  }

  &:nth-child(2n+1) {
    background-color: white;
  }

  display: flex;
}

.top-diagram-zone {
  display: flex;
}

.label-zone-width{
  flex-basis: 0;
  flex-grow: 38.2;
}

.left-text-block {
  overflow: hidden;
}

.timing-width {
  flex-basis: 0;
  flex-grow: 61.8;
  margin-left: 10px;
}

.chart-timing-div{
  // Make it a container block
  position: relative;
}

.ruler-container {
  height: 20px ;
}

.grid-container {
  height: 20000px;
}

#timechart {
  overflow: hidden;
}

$color-blocked : #bec3c3;
$color-dns:  #e4924c;
$color-connect: #226583;
$color-ssl: #57c1e8;
$color-send: #db6767;
$color-wait: #3aab8e;
$color-receive: #f1b939;

.variable-blocked {
    fill: $color-blocked;
}
.variable-dns {
    fill: $color-dns;
}
.variable-connect {
    fill: $color-connect;
}
.variable-ssl {
    fill: $color-ssl;
}
.variable-send {
    fill: $color-send;
}
.variable-wait {
    fill: $color-wait;
}
.variable-receive {
    fill: $color-receive;
}

.timing-blocked {
    & span:first-child{
        color: $color-blocked;
    }
}
.timing-dns {
    & span:first-child{
        color: $color-dns;
    }
}
.timing-connect {
    & span:first-child{
        color: $color-connect;
    }
}
.timing-ssl {
    & span:first-child{
        color: $color-ssl;
    }
}
.timing-send {
    & span:first-child{
        color: $color-send;
    }
}
.timing-wait {
    & span:first-child{
        color: $color-wait;
    }
}
.timing-receive {
    & span:first-child{
        color: $color-receive;
    }
}

.chart-timing-graphy{
  // v-- Save the space
  position: relative;
  z-index: 10;
}

$data-backgrop-border: #0e1327 3px solid;

.data-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.0);
}


$padding-for-backdrop: 4px;

$tip-elements-font-size: 11px;

$bg-timing-color: #351818;

$padding-for-timing: 5px;


.data-backdrop-http1 {
   flex-direction: column-reverse;
   border-bottom: $data-backgrop-border;
}

.data-backdrop-http2 {
   flex-direction: column;
   border-top: $data-backgrop-border;
}

.data-backdrop-major {
    font-size: $tip-elements-font-size;
    display: flex;
    opacity: 0;
    /* Limit the height, so that we can get
       some overlap */
    //height: 60px;
    overflow: visible;
}


.timings-row {
    font-size: $tip-elements-font-size;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    /* Limit the height, so that we can get
       some overlap */

    &>.backdrop-timing{
      flex-basis: main-size;
      flex-grow: 1;
      color: $bg-timing-color;
      text-align: right;
      padding-right: $padding-for-timing;
      padding-left: $padding-for-timing;
    }
}

.backdrop-row {
  margin-top: $padding-for-backdrop;
  margin-bottom: $padding-for-backdrop;
}

.others-row {
  display: flex;
  flex-direction: row;

  font-size: $tip-elements-font-size;
  justify-content: space-around;


  &>div {
    width: 100px;
    text-align: right;
    color: $bg-timing-color;
  }

}

.backdrop-timing {
  & span:first-child{
    font-size: $tip-elements-font-size + 5px;
    padding-right: 5px;
    position: relative;
    bottom: 4px;
  }
}
















.btn-success {

  font-family: 'Monserrat';
  border: #292929 2px solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: #444444 2px solid;
  background: #e77000;
  background: linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -moz-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -ms-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -o-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  color: #fff;
  text-shadow: rgba(129, 70, 17, 1) 0 1px 1px;

}

.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle
{

  text-shadow: rgba(129, 70, 17, 1) 0 -1px 1px;
  /*-moz-transition: all 0.2s ease-in-out 0s;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -moz-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -ms-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -o-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);

}

.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active
{

  text-shadow: rgba(129, 70, 17, 1) 0 -1px 1px;
  /*-moz-transition: all 0.2s ease-in-out 0s;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -moz-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -ms-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -o-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);

}