.top-content {
  with: 100%;
  //height: 620px;
  background-color: #6bad2c;
}

.analyze {

  .analyze-input-group {

    .analyze-button {

      background-color: $analyzer_border;
      height: 50px;
      display: table-cell;
      border-radius: 0 10px 10px 0;
      -webkit-border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
    }

    .analyze-input {

      height: 50px;
      display: table-cell;
      border-radius: 10px 0 0 10px;
      margin-bottom: 70px;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
    }
  }
}

.url-analyzed {
  font-size: 90%;
  font-style: italic;
}

.load-navbar {
  width: 100%;
  border-radius: 0;
  font-size: 20px;

  .menu-item {
    padding: 10px;
    border: 3px solid $analyzer_border;
    border-bottom: 0;
    list-style: none;

    a:hover {
      padding-bottom: 10px;
      border-bottom: 3px solid #fff;
    }

    span{
      font-size: 12px;
    }

  }
}

.statistics-bar {
  height: 20px;
  border: 1px solid $analyzer_border;
  padding: 0;

  .progress-bar {
    background-color: $analyzer_border;
  }

}

.analyzer {
  border: 3px solid $analyzer_border;
  clear: both;
  padding: 25px 0;
  .analyzer-http {
    width: 100%;
  }
  .http2-push {
    width: 100%;
    margin: 0 auto;

    .statistics {
      width: 100%;
      clear: both;

      .statistics-resume {
        height: 30px;
        width: 100%;
      }

      span{
        float: left;
      }

      background-color: #d6ddd2;
    }
  }

  .line-analyzer {
    width: 60%;
    margin-left: 2%;
    border: 1px solid black;
  }

  .analyzer-http-version {
    padding-left: 5%;
  }

  .load-description {
    margin-left: 10%;
  }

}


.h-ruler {
  display: flex;
}

.time-point {
  font-size: 7px;
  flex-grow: 1;
  text-align: left;
  flex-basis: 0;

  //&:not(:first-child){
  //  margin-left: -10px;
  //}
}

// TODO: Choose the proper color
.horiz-block {
  &:nth-child(2n+0) {
    background: #f5f5f5;
    .chart-timing-div{
    }
  }

  &:nth-child(2n+1) {
    background: white;
    .chart-timing-div{
    }
  }

  display: flex;
}

.top-diagram-zone {
  display: flex;
}

.label-zone-width{
  flex-basis: 0;
  flex-grow: 38.2;
}

.left-text-block {
  overflow: hidden;
}

.timing-width {
  flex-basis: 0;
  flex-grow: 61.8;
  margin-left: 10px;
}

.ruler-container {
  height: 20px ;
}

.grid-container {
  height: 20000px;
}

#timechart {
  overflow: hidden;
}

$color-blocked : #e1e7e7;
$color-dns:  #e4924c;
$color-connect: #226583;
$color-ssl: #57c1e8;
$color-send: #db6767;
$color-wait: #db6767;
$color-receive: #f1b939;

.variable-blocked {
    fill: $color-blocked;
}    
.variable-dns {
    fill: $color-dns;
}    
.variable-connect {
    fill: $color-connect;
}    
.variable-ssl {
    fill: $color-ssl;
}    
.variable-send {
    fill: $color-send;
}    
.variable-wait {
    fill: $color-wait;
}    
.variable-receive {
    fill: $color-receive;
}    

















.btn-success {

  font-family: 'Monserrat';
  border: #292929 2px solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: #444444 2px solid;
  background: #e77000;
  background: linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -moz-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -ms-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  background: -o-linear-gradient(top, #ffc36e, #eb7e16 50%, #e77000, #e77000 50%, #b85600);
  color: #fff;
  text-shadow: rgba(129, 70, 17, 1) 0 1px 1px;

}

.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle
{

  text-shadow: rgba(129, 70, 17, 1) 0 -1px 1px;
  /*-moz-transition: all 0.2s ease-in-out 0s;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -moz-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -ms-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -o-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);

}

.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active
{

  text-shadow: rgba(129, 70, 17, 1) 0 -1px 1px;
  /*-moz-transition: all 0.2s ease-in-out 0s;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc36e), color-stop(0.50, #eb7e16), color-stop(0.50, #e77000), to(#b85600));
  background: -webkit-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -moz-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -ms-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);
  background: -o-linear-gradient(top, #b85600, #e77000 50%, #e77000, #eb7e16 50%, #ffc36e);

}