@font-face {
  font-family: 'League-Gothic';
  font-style: normal;
  font-size: $baseFontSize;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
  src: url(../../../font/League-Gothic/LeagueGothic-CondensedItalic.otf),
  url(../../../font/League-Gothic/LeagueGothic-CondensedRegular.otf),
  url(../../../font/League-Gothic/LeagueGothic-Italic.otf),
  url(../../../font/League-Gothic/LeagueGothic-Regular.otf);
}

@font-face {
  font-family: 'font-awesome';
  font-style: normal;
  font-size: $baseFontSize;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
  src: url(../../../font/font-awesome/fontawesome-webfont.eot),
  url(../../../font/font-awesome/fontawesome-webfont.svg),
  url(../../../font/font-awesome/fontawesome-webfont.ttf),
  url(../../../font/font-awesome/fontawesome-webfont.woff),
  url(../../../font/font-awesome/fontawesome-webfont.woff2);
}

@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-size: $baseFontSize;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
  src: url(../../../font/Open-Sans/Open-Sans.woff),
  url(../../../font/Open-Sans/Open-Sans.woff2);
}

@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-size: $baseFontSize;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
  src: url(../../../font/Monserrat/Monserrat.woff),
  url(../../../font/Monserrat/Monserrat.woff2);
}

html {
    //font-family: 'Monserrat';
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-x:hidden;
    overflow-y:scroll;
    padding-bottom: 50px;

    @include selection{
        color:#fff;
        background-color:$primary;
    }
}

body{
    font-family: 'Open-Sans';
    font-weight: 300;

    @include breakpoint(phone_landscape){
        padding-top:50px;
    }
}

body.errors .main-container{
    margin-top: 160px;
}

.main-container{
    margin:10px auto 160px;
    position:relative;
    min-height:100%;

    @include breakpoint(phone_landscape){
        overflow:hidden;
        margin:20px auto 60px !important;
    }
}

.container.middle, .main-container{
    max-width:960px;
}

.container-small{
    max-width:620px;

    @include breakpoint(tablet){
        max-width:480px;
    }
}

.container.smaller{
    max-width:400px;
}

.main-view.ng-enter, .main-view.ng-leave{
    animation: scaleUp .5s ease both;
    transform-origin: top center;
    position:absolute;
    width:100%;
    z-index: 10;
    left:0;

    @include breakpoint(phone_landscape){
        position: static;
    }
}

.main-view.ng-leave{
    animation: scaleDown .4s ease both;

    // the exit animation is a bit glitchy on mobile
    @include breakpoint(phone_landscape){
        opacity:0;
    }
}

.main-view.ng-animate ~ .footer{
    display: none !important;
}

@keyframes scaleUp {
    from { opacity: 0; transform: scale(.8); }
}


@keyframes scaleDown {
    from { }
    to { opacity: 0; transform: scale(.8); }
}

//to be used when modal has to be scrolled, prevents double scrollbars
html.scroll-modal{
    overflow:hidden;

    body{
        overflow:auto;
    }
}
