@mixin posTopLeft($position,$top,$left){
    position:$position;
    top:$top;
    left:$left;
}

@mixin posTopRight($position,$top,$right){
    position:$position;
    top:$top;
    right:$right;
}

@mixin posBottomRight($position,$bottom,$right){
    position:$position;
    bottom:$bottom;
    right:$right;
}

@mixin posBottomLeft($position,$bottom,$left){
    position:$position;
    bottom:$bottom;
    left:$left;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// @font-face
@mixin declare-font-face($font-family, $font-filename, $weight: 'normal') {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-filename}.eot?cache=#{timestamp()}');
        src: url('#{$font-filename}.eot?#iefix&cache=#{timestamp()}') format('embedded-opentype'),
        url('#{$font-filename}.woff?cache=#{timestamp()}') format('woff'),
        url('#{$font-filename}.ttf?cache=#{timestamp()}') format('truetype'),
        url('#{$font-filename}.svg##{$font-family}?cache=#{timestamp()}') format('svg');
        font-style:normal;
        font-weight: $weight;
    }
}

@mixin input-block-level {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

@mixin translateHack() {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

//Text selection

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@mixin opacity($opacity) {
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity+")";
}

@mixin background-opacity($color, $opacity) {
    background: rgba($color, $opacity);
}

@mixin custom-btn($color){
    background:$color;

    &:active,&:hover,&:focus{
        background:darken($color,6%);
        text-decoration:none;
    }
}

// Target specific resolutions

@mixin breakpoint($point) {
    @if $point == pc {
        @media (min-width: 1200px) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: 768px) and (max-width: 979px) { @content; }
    }
    @else if $point == tablet_and_down {
        @media (max-width: 979px) { @content; }
    }
    @else if $point == phone_landscape {
        @media (max-width: 767px) { @content; }
    }
    @else if $point == phone_portrait {
        @media (max-width: 480px)  { @content; }
    }
    @else if $point == except_phone {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == webkit{
        @media screen and (-webkit-min-device-pixel-ratio:0) { @content; }
    }
}

// Centered absolute or fixed element
@mixin ver-center($position,$width,$height) {
    position:$position;
    width:$width;
    height:$height;
    top:50%;
    left:50%;
    margin-top:- $height/2;
    margin-left:- $width/2;
}

// needs to override the one from font awesome
@mixin icon-FontAwesome() {
    font-family: FontAwesome;
    font-style: normal !important;
    font-size: $baseFontSize;
    line-height: normal;
    display: inline-block;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em; // fixes ie7 issues

    &:before,&:after{
        font-weight: normal !important;
    }
}

// Gradients

// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
    background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

@mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
    background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}

@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

%overlay{
    @include posBottomLeft(absolute, 0, 0);
    width: 100%;
    height: 100%;
    content: '';
    display:block;
    z-index: 0;
    outline:0;
    border: none;
}
