
@mixin quiver-mx($time) {
  -webkit-animation-duration: $time;
  -moz-animation-duration: $time;
  -o-animation-duration: $time;
  animation-duration: $time;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;


  -webkit-animation-name: quiver;
  -moz-animation-name: quiver;
  -o-animation-name: quiver;
  animation-name: quiver;
}

.quiver>path {
  @include quiver-mx(2.0s);
}

.watch-1 .quiver>path {
  -webkit-animation-delay: 0.40s;
  -moz-animation-delay: 0.40s;
  -o-animation-delay: 0.40s;
  animation-delay: 0.40s;
}

@keyframes quiver {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1.5deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(1.7deg);
  }

  30% {
    transform: rotate(-0.3deg);
  }

  40% {
    transform: rotate(1.4deg);
  }

  50% {
    transform: rotate(0.0deg);
  }
}

@mixin full-rotation-mx($time) {
  -webkit-animation-duration: $time;
  -moz-animation-duration: $time;
  -o-animation-duration: $time;
  animation-duration: $time;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;


  -webkit-animation-name: full-rotation;
  -moz-animation-name: full-rotation;
  -o-animation-name: full-rotation;
  animation-name: full-rotation;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}

.full-rotation>path {
  @include full-rotation-mx(2.0s);
}



@keyframes full-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360.0deg);
  }
}