/* footer styles */

#footer {
	width:100%;
	overflow:hidden;
	display:table-footer-group;
	background: $dk-green2;
	.footer-holder {
		height:1%;
		display:table-row;
	}
	.footer-frame {
		display:table-cell;
		padding:  45px 0;
	}
	p{
		color: #414a3b;
		font-size: 13px;
		margin: 0 0 0 35px;

		@include mq($until: mobile) {
			margin: 0;
		}

		a{
			color: #414a3b;
			&:hover{
				text-decoration: underline;
			}
			&.link{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	@include mq($until: sm-mobile) {
		text-align: left;
		.col-xs-6{
			width: 100%;
		}
	}
}

/* footer nav */

.footer-nav{
	float: left;
	width: 180px;
	margin: 0 0 69px 35px;

	@include mq($until: mobile) {
		margin: 0 0 25px;
		width: 180px;
		float: none;
		overflow: hidden;
	}

	@include mq($until: sm-mobile) {
		width: 100%;
	}

	h3{
		margin: 0 0 18px;
		padding: 0 0 9px;
		color: $white;
		@include font-size(20px, 25px);
		border-bottom: 1px solid $dk-green3;
		font-weight: 700;
	}
	ul{
		margin: 0;
		li{
			position: relative;
			color: $white;
			padding: 0 0 0 12px;
			margin: 0 0 4px;
			&:before{
				content: '›';
				position: absolute;
				left: 0;
				top: 0;
				@include font-size(20px, 25px);

				@include mq($until: mobile) {
					@include font-size(15px, 18px);
					top: 4px;
				}

			}
			a{
				color: $white;
				@include font-size(20px, 25px);

				@include mq($until: mobile) {
					@include font-size(14px, 18px);
				}

				&:hover{
					text-decoration: none;
					opacity: 0.8;
				}
			}
		}
	}
}

/* socialnetworks */

.social-networks{
	overflow: hidden;
	text-align: center;
	width: 275px;
	float: right;
	padding: 3px 0 0;
	margin: 0 33px 0 0;

	@include mq($until: mobile) {
		margin: 0 0 25px;
		width: auto;
		float: none;
		overflow: hidden;
	}

	@include mq($until: sm-mobile) {
		text-align: left;
	}

	h3{
		font: 22px/24px $permanent-marker;
		margin: 0 0 23px;
		padding: 0 12px 0 0;
		color: $white;

		@include mq($until: mobile) {
			margin: 0 0 35px;
		}

		span{
			position: relative;
			display: inline;
			&:after{
				background: url(../images/ico-arrow5.png) no-repeat;
				content: '';
				@include size(12px, 31px);
				position: absolute;
				right: -20px;
				top: 21px;
			}
		}
	}
	ul{
		margin: 0;
		li{
			padding: 0 4px;
			a{
				display: block;
				@include square(53px);

				@include mq($until: mobile) {
					@include square(32px);
				}

			}
		}
		img{
			background: $dk-green2;
			@include responsive-img;
			&:hover{
				opacity: 0.8;
			}
		}
	}
}